@use "../../../01. abstracts/variables" as *;

// body {
// --italic-weight:var(--res-font-weight-em);
// }

#{$preview} .cm-em,
#{$reading} em {
  font-family: var(--res-font-em-west), var(--res-font-em-cn);
  font-weight: var(--res-font-em-weight);
  font-style: normal;
  color: rgb(197, 49, 49);
}
