@use "../../../abstracts/variables" as *;

// body {
// --italic-weight:var(--res-font-weight-em);
// }

#{$preview} .cm-em,
#{$reading} em {
  font-family: var(--res-font-stack-em-west), var(--res-font-stack-em-cn);
  font-weight: var(--res-font-weight-em);
  font-style: normal;
  color: rgb(197, 49, 49);

}