@charset "UTF-8";
/* @settings

name: Monkey King Theme
id: monkey-king-theme
settings:
    -
        id: simple-settings-heading
        title: 简单设置
        type: heading
        level: 1
        collapsed: false
    -
        id: color-scheme
        title: 配色
        type: class-select
        default: 'scheme-monkey'
        description: 选择主题配色方案
        options:
            -
                label: "美猴王"
                value: 'scheme-monkey'
            -
                label: "太上老君"
                value: 'scheme-lord'

    -
        id: style-mode
        title: 模式
        type: class-select
        default: 'style-great-hall'
        description: 选择主题模式
        options:
            -
                label: "凌霄宝殿"
                value: 'style-great-hall'
            -
                label: "花果山"
                value: 'style-huaguo-mount'
    -
        id: bg-tune-settings-heading
        title: 背景微调
        type: heading
        level: 2
        collapsed: true
    -
        id: bg-tune-override
        title: 启用手动接管
        type: class-toggle
        default: false
        description: 关闭时使用每个“配色 × 模式”的默认背景微调值，开启后使用下方滑块值。
    -
        id: u-bg-tune
        title: 背景总微调
        type: variable-number-slider
        default: 0
        min: -20
        max: 20
        step: 1
        description: 单滑块统一微调所有背景色的饱和度与亮度（不改变色相）。0 为不偏移。
    -
        id: u-cn-hei
        title: 黑体
        type: variable-text
        default: ""
        description: 用于无衬线场景。留空使用系统自带黑体
    -
        id: u-cn-song
        title: 宋体
        type: variable-text
        default: ""
        description: 用于衬线场景。留空使用系统自带宋体
    -
        id: optimization-settings-heading
        title: 优化设置
        type: heading
        level: 1
        collapsed: true
    -
        id: font-settings-heading
        title: 字体
        type: heading
        level: 2
        collapsed: true
    -
        id: u-font-mono-cn
        title: 代码字体
        type: variable-text
        default: ""
        description: 代码块和行内代码的字体,留空使用黑体。
    -
        id: chinese-font-heading
        title: 中文字体
        collapsed: false
        type: heading
        level: 3

    -
        id: u-cn-kai
        title: 楷体
        type: variable-text
        default: ""
        description: 用于手写/笔记场景。留空使用系统自带楷体
    -
        id: u-cn-fang
        title: 仿宋
        type: variable-text
        default: ""
        description: 用于公文/引用场景。留空使用系统自带仿宋体
    -
        id: western-font-heading
        title: 西文字体
        collapsed: false
        type: heading
        level: 3
    -
        id: u-west-serif
        title: 衬线
        type: variable-text
        default: ""
        description: 西文衬线字体。留空使用系统默认
    -
        id: u-west-sans
        title: 无衬线
        type: variable-text
        default: ""
        description: 西文无衬线字体。留空使用系统默认
    -
        id: u-west-hand
        title: 手写体
        type: variable-text
        default: ""
        description: 西文手写字体。留空使用系统默认
    -
        id: block-font-settings-heading
        title: 编辑器元素字体配置
        type: heading
        level: 3
        collapsed: true
        description: 配置文章中常用元素的字体族。注意：只能用给定的西文字体来实现西文斜体（Italic）和不斜的中文混排。
    -
        id: block-font-settings-headings-heading
        title: 标题
        type: heading
        level: 4
        collapsed: true
    -
        id: u-font-headings-west
        title: 西文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "非衬线"
                value: 'var(--stack-sans)'
            -
                label: "手写体"
                value: 'var(--stack-hand)'
            -
                label: "系统衬线斜体"
                value: 'var(--stack-serif-i)'
            -
                label: "系统非衬线斜体"
                value: 'var(--stack-sans-i)'
    -
        id: u-font-headings-cn
        title: 中文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "黑体"
                value: 'var(--stack-hei)'
            -
                label: "宋体"
                value: 'var(--stack-song)'
            -
                label: "楷体"
                value: 'var(--stack-kai)'
            -
                label: "仿宋"
                value: 'var(--stack-fang)'
    -
        id: block-font-settings-quote-heading
        title: 引用块
        type: heading
        level: 4
        collapsed: true
    -
        id: u-font-quote-west
        title: 西文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "非衬线"
                value: 'var(--stack-sans)'
            -
                label: "手写体"
                value: 'var(--stack-hand)'
            -
                label: "系统衬线斜体"
                value: 'var(--stack-serif-i)'
            -
                label: "系统非衬线斜体"
                value: 'var(--stack-sans-i)'
    -
        id: u-font-quote-cn
        title: 中文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "黑体"
                value: 'var(--stack-hei)'
            -
                label: "宋体"
                value: 'var(--stack-song)'
            -
                label: "楷体"
                value: 'var(--stack-kai)'
            -
                label: "仿宋"
                value: 'var(--stack-fang)'
    -
        id: block-font-settings-em-heading
        title: 强调块（*text*）
        type: heading
        level: 4
        collapsed: true
    -
        id: u-font-em-west
        title: 西文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "非衬线"
                value: 'var(--stack-sans)'
            -
                label: "手写体"
                value: 'var(--stack-hand)'
            -
                label: "系统衬线斜体"
                value: 'var(--stack-serif-i)'
            -
                label: "系统非衬线斜体"
                value: 'var(--stack-sans-i)'
    -
        id: u-font-em-cn
        title: 中文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "黑体"
                value: 'var(--stack-hei)'
            -
                label: "宋体"
                value: 'var(--stack-song)'
            -
                label: "楷体"
                value: 'var(--stack-kai)'
            -
                label: "仿宋"
                value: 'var(--stack-fang)'
    -
        id: block-font-settings-strong-heading
        title: 加重块（**text**）
        type: heading
        level: 4
        collapsed: true
    -
        id: u-font-strong-west
        title: 西文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "非衬线"
                value: 'var(--stack-sans)'
            -
                label: "手写体"
                value: 'var(--stack-hand)'
            -
                label: "系统衬线斜体"
                value: 'var(--stack-serif-i)'
            -
                label: "系统非衬线斜体"
                value: 'var(--stack-sans-i)'
    -
        id: u-font-strong-cn
        title: 中文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "黑体"
                value: 'var(--stack-hei)'
            -
                label: "宋体"
                value: 'var(--stack-song)'
            -
                label: "楷体"
                value: 'var(--stack-kai)'
            -
                label: "仿宋"
                value: 'var(--stack-fang)'
    -
        id: layout-settings-heading
        title: 布局
        type: heading
        level: 2
        collapsed: true
    -
        id: gap-strategy
        title: 密度策略
        type: class-select
        default: 'gap-auto'
        description: 选择间距/字号密度策略（默认跟随模式）
        options:
            -
                label: "跟随模式"
                value: 'gap-auto'
            -
                label: "宽松"
                value: 'gap-loose'
            -
                label: "紧凑"
                value: 'gap-compact'
*/
@font-face {
  font-family: "SystemHei";
  font-style: normal;
  font-weight: 400;
  src: local("Source Han Sans SC"), local("Noto Sans SC"), local("PingFang SC"), local("Hiragino Sans GB"), local("Microsoft YaHei UI"), local("Microsoft YaHei"), local("SimHei");
}
@font-face {
  font-family: "SystemSong";
  font-style: normal;
  font-weight: 400;
  src: local("Source Han Serif SC"), local("Noto Serif SC"), local("Songti SC"), local("STSong"), local("SimSun"), local("NSimSun");
}
@font-face {
  font-family: "SystemKai";
  font-style: normal;
  font-weight: 400;
  src: local("Kaiti SC"), local("STKaiti"), local("KaiTi"), local("KaiTi_GB2312");
}
@font-face {
  font-family: "SystemFang";
  font-style: normal;
  font-weight: 400;
  src: local("STFangsong"), local("FangSong"), local("FangSong_GB2312");
}
@font-face {
  font-family: "SystemHei";
  font-style: normal;
  font-weight: bold;
  src: local("Source Han Sans SC Bold"), local("SourceHanSansSC-Bold"), local("Noto Sans SC Bold"), local("NotoSansSC-Bold"), local("PingFang SC Semibold"), local("PingFang SC Bold"), local("PingFangSC-Semibold"), local("Hiragino Sans GB W6"), local("Microsoft YaHei Bold"), local("Microsoft YaHei-Bold"), local("Microsoft YaHei UI Bold");
}
@font-face {
  font-family: "SystemSong";
  font-style: normal;
  font-weight: bold;
  src: local("Source Han Serif SC Bold"), local("SourceHanSerifSC-Bold"), local("Noto Serif SC Bold"), local("NotoSerifSC-Bold"), local("Songti SC Bold"), local("Songti-SC-Bold");
}
@font-face {
  font-family: "SystemSans";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), local("Roboto"), local("Oxygen"), local("Ubuntu"), local("Cantarell"), local("Fira Sans"), local("Droid Sans"), local("Helvetica Neue"), local("Helvetica"), local("Arial"), local("Verdana"), local("Tahoma");
  unicode-range: U+0000-007F, U+0080-00B6, U+00B8-00FF, U+0100-017F, U+0180-024F, U+1E00-1EFF, U+2000-2013, U+2100-214F;
}
@font-face {
  font-family: "SystemSerif";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), local("Charter"), local("Bitstream Charter"), local("Times New Roman"), local("Times");
  unicode-range: U+0000-007F, U+0080-00B6, U+00B8-00FF, U+0100-017F, U+0180-024F, U+1E00-1EFF, U+2000-2013, U+2100-214F;
}
@font-face {
  font-family: "SystemHand";
  font-style: normal;
  font-weight: 400;
  src: local("Bradley Hand"), local("Bradley Hand IT Mirror"), local("Chalkboard SE"), local("Hannotate SC"), local("Wawati SC"), local("Segoe Print"), local("Ink Free"), local("Gabriola"), local("Comic Sans MS");
  size-adjust: 92%;
  unicode-range: U+0000-007F, U+0080-00B6, U+00B8-00FF, U+0100-017F, U+0180-024F, U+1E00-1EFF, U+2000-2013, U+2100-214F;
}
@font-face {
  font-family: "SystemCursive";
  font-style: normal;
  font-weight: 400;
  src: local("Snell Roundhand"), local("Savoye LET"), local("Zapfino"), local("Kunstler Script"), local("Edwardian Script ITC"), local("Vladimir Script"), local("Mistral"), local("Script MT Bold");
  size-adjust: 92%;
  unicode-range: U+0000-007F, U+0080-00B6, U+00B8-00FF, U+0100-017F, U+0180-024F, U+1E00-1EFF, U+2000-2013, U+2100-214F;
}
@font-face {
  font-family: "SystemSans";
  font-style: normal;
  font-weight: 700;
  src: local("Segoe UI Bold"), local("Segoe UI-Bold"), local("Roboto Bold"), local("Roboto-Bold"), local("Oxygen Bold"), local("Oxygen-Bold"), local("Ubuntu Bold"), local("Ubuntu-Bold"), local("Cantarell Bold"), local("Cantarell-Bold"), local("Fira Sans Bold"), local("Fira Sans-Bold"), local("Droid Sans Bold"), local("Droid Sans-Bold"), local("Helvetica Neue Bold"), local("Helvetica Neue-Bold"), local("Helvetica Bold"), local("Helvetica-Bold"), local("Arial Bold"), local("Arial-Bold"), local("Verdana Bold"), local("Verdana-Bold"), local("Tahoma Bold"), local("Tahoma-Bold");
  unicode-range: U+0000-007F, U+0080-00B6, U+00B8-00FF, U+0100-017F, U+0180-024F, U+1E00-1EFF, U+2000-2013, U+2100-214F;
}
@font-face {
  font-family: "SystemSerif";
  font-style: normal;
  font-weight: 700;
  src: local("Georgia Bold"), local("Georgia-Bold"), local("Charter Bold"), local("Charter-Bold"), local("Bitstream Charter Bold"), local("Bitstream Charter-Bold"), local("Times New Roman Bold"), local("Times New Roman-Bold"), local("Times Bold"), local("Times-Bold");
  unicode-range: U+0000-007F, U+0080-00B6, U+00B8-00FF, U+0100-017F, U+0180-024F, U+1E00-1EFF, U+2000-2013, U+2100-214F;
}
@font-face {
  font-family: "SystemSansItalic";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI Italic"), local("Segoe UI-Italic"), local("Roboto Italic"), local("Roboto-Italic"), local("Oxygen Italic"), local("Oxygen-Italic"), local("Ubuntu Italic"), local("Ubuntu-Italic"), local("Cantarell Italic"), local("Cantarell-Italic"), local("Fira Sans Italic"), local("Fira Sans-Italic"), local("Droid Sans Italic"), local("Droid Sans-Italic"), local("Helvetica Neue Italic"), local("Helvetica Neue-Italic"), local("Helvetica Italic"), local("Helvetica-Italic"), local("Arial Italic"), local("Arial-Italic"), local("Verdana Italic"), local("Verdana-Italic"), local("Tahoma Italic"), local("Tahoma-Italic");
  unicode-range: U+0000-007F, U+0080-00B6, U+00B8-00FF, U+0100-017F, U+0180-024F, U+1E00-1EFF, U+2000-2013, U+2100-214F;
}
@font-face {
  font-family: "SystemSerifItalic";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia Italic"), local("Georgia-Italic"), local("Charter Italic"), local("Charter-Italic"), local("Bitstream Charter Italic"), local("Bitstream Charter-Italic"), local("Times New Roman Italic"), local("Times New Roman-Italic"), local("Times Italic"), local("Times-Italic");
  unicode-range: U+0000-007F, U+0080-00B6, U+00B8-00FF, U+0100-017F, U+0180-024F, U+1E00-1EFF, U+2000-2013, U+2100-214F;
}
body.style-great-hall {
  --preset-font-interface-weight: normal;
  --preset-font-theme-cn: var(--stack-song);
  --preset-font-theme-weight: normal;
  --preset-font-headings-cn: var(--stack-fang);
  --preset-font-headings-weight: normal;
  --preset-font-quote-west: var(--stack-hand);
  --preset-font-quote-cn: var(--stack-kai);
  --preset-font-quote-weight: normal;
  --preset-font-em-west: var(--stack-serif-i);
  --preset-font-em-cn: var(--stack-kai);
  --preset-font-em-weight: normal;
  --preset-font-strong-west: var(--stack-sans);
  --preset-font-strong-cn: var(--stack-hei);
  --preset-font-strong-weight: 500;
  --preset-font-tag-west: var(--stack-hei);
  --preset-font-tag-cn: var(--stack-hei);
  --preset-font-tag-weight: normal;
  --preset-gap-p-line-height: 14;
  --preset-gap-h1-font-size: 14;
  --preset-gap-h1-line-height: 20;
  --preset-gap-h1-margin-top: 18;
  --preset-gap-h1-margin-bottom: 18;
  --preset-gap-h2-font-size: 12;
  --preset-gap-h2-line-height: 18;
  --preset-gap-h2-margin-top: 12;
  --preset-gap-h2-margin-bottom: 12;
  --preset-gap-h3-font-size: 11;
  --preset-gap-h3-line-height: 17;
  --preset-gap-h3-margin-top: 13;
  --preset-gap-h3-margin-bottom: 12;
  --preset-gap-h4-font-size: 10;
  --preset-gap-h4-line-height: 16;
  --preset-gap-h4-margin-top: 15;
  --preset-gap-h4-margin-bottom: 11;
  --preset-gap-h5-font-size: 9;
  --preset-gap-h5-line-height: 15;
  --preset-gap-h5-margin-top: 7;
  --preset-gap-h5-margin-bottom: 6;
  --preset-gap-h6-font-size: 8;
  --preset-gap-h6-line-height: 14;
  --preset-gap-h6-margin-top: 9;
  --preset-gap-h6-margin-bottom: 5;
}

body.style-huaguo-mount {
  --preset-font-interface-weight: normal;
  --preset-font-theme-cn: var(--stack-song);
  --preset-font-theme-weight: normal;
  --preset-font-headings-cn: var(--stack-fang);
  --preset-font-headings-weight: normal;
  --preset-font-quote-west: var(--stack-hand);
  --preset-font-quote-cn: var(--stack-kai);
  --preset-font-quote-weight: normal;
  --preset-font-em-west: var(--stack-serif-i);
  --preset-font-em-cn: var(--stack-kai);
  --preset-font-em-weight: normal;
  --preset-font-strong-west: var(--stack-sans);
  --preset-font-strong-cn: var(--stack-hei);
  --preset-font-strong-weight: 400;
  --preset-font-tag-west: var(--stack-hei);
  --preset-font-tag-cn: var(--stack-hei);
  --preset-font-tag-weight: normal;
  --preset-gap-p-line-height: 12;
  --preset-gap-h1-font-size: 14;
  --preset-gap-h1-line-height: 18;
  --preset-gap-h1-margin-top: 9;
  --preset-gap-h1-margin-bottom: 2;
  --preset-gap-h2-font-size: 12;
  --preset-gap-h2-line-height: 16;
  --preset-gap-h2-margin-top: 7;
  --preset-gap-h2-margin-bottom: 2;
  --preset-gap-h3-font-size: 11;
  --preset-gap-h3-line-height: 15;
  --preset-gap-h3-margin-top: 6;
  --preset-gap-h3-margin-bottom: 1;
  --preset-gap-h4-font-size: 10;
  --preset-gap-h4-line-height: 14;
  --preset-gap-h4-margin-top: 5;
  --preset-gap-h4-margin-bottom: 1;
  --preset-gap-h5-font-size: 9;
  --preset-gap-h5-line-height: 13;
  --preset-gap-h5-margin-top: 4;
  --preset-gap-h5-margin-bottom: 0;
  --preset-gap-h6-font-size: 8;
  --preset-gap-h6-line-height: 12;
  --preset-gap-h6-margin-top: 4;
  --preset-gap-h6-margin-bottom: 0;
}

body.gap-loose {
  --preset-gap-p-line-height: 14;
  --preset-gap-h1-font-size: 14;
  --preset-gap-h1-line-height: 20;
  --preset-gap-h1-margin-top: 18;
  --preset-gap-h1-margin-bottom: 18;
  --preset-gap-h2-font-size: 12;
  --preset-gap-h2-line-height: 18;
  --preset-gap-h2-margin-top: 12;
  --preset-gap-h2-margin-bottom: 12;
  --preset-gap-h3-font-size: 11;
  --preset-gap-h3-line-height: 17;
  --preset-gap-h3-margin-top: 13;
  --preset-gap-h3-margin-bottom: 12;
  --preset-gap-h4-font-size: 10;
  --preset-gap-h4-line-height: 16;
  --preset-gap-h4-margin-top: 15;
  --preset-gap-h4-margin-bottom: 11;
  --preset-gap-h5-font-size: 9;
  --preset-gap-h5-line-height: 15;
  --preset-gap-h5-margin-top: 7;
  --preset-gap-h5-margin-bottom: 6;
  --preset-gap-h6-font-size: 8;
  --preset-gap-h6-line-height: 14;
  --preset-gap-h6-margin-top: 9;
  --preset-gap-h6-margin-bottom: 5;
}

body.gap-compact {
  --preset-gap-p-line-height: 12;
  --preset-gap-h1-font-size: 14;
  --preset-gap-h1-line-height: 18;
  --preset-gap-h1-margin-top: 9;
  --preset-gap-h1-margin-bottom: 2;
  --preset-gap-h2-font-size: 12;
  --preset-gap-h2-line-height: 16;
  --preset-gap-h2-margin-top: 7;
  --preset-gap-h2-margin-bottom: 2;
  --preset-gap-h3-font-size: 11;
  --preset-gap-h3-line-height: 15;
  --preset-gap-h3-margin-top: 6;
  --preset-gap-h3-margin-bottom: 1;
  --preset-gap-h4-font-size: 10;
  --preset-gap-h4-line-height: 14;
  --preset-gap-h4-margin-top: 5;
  --preset-gap-h4-margin-bottom: 1;
  --preset-gap-h5-font-size: 9;
  --preset-gap-h5-line-height: 13;
  --preset-gap-h5-margin-top: 4;
  --preset-gap-h5-margin-bottom: 0;
  --preset-gap-h6-font-size: 8;
  --preset-gap-h6-line-height: 12;
  --preset-gap-h6-margin-top: 4;
  --preset-gap-h6-margin-bottom: 0;
}

body.theme-light.scheme-monkey {
  --preset-bg0-h: 51.67deg;
  --preset-bg0-s: 72%;
  --preset-bg0-l: 90.2%;
  --preset-bg1-h: 45deg;
  --preset-bg1-s: 42.11%;
  --preset-bg1-l: 92.55%;
  --preset-bg2-h: 127.89deg;
  --preset-bg2-s: 51.35%;
  --preset-bg2-l: 85.49%;
  --preset-bg3-h: 140.25deg;
  --preset-bg3-s: 32.79%;
  --preset-bg3-l: 52.16%;
  --preset-bg4-h: 44.77deg;
  --preset-bg4-s: 100%;
  --preset-bg4-l: 74.51%;
  --preset-tx1: #000000;
  --preset-tx2: #222222;
  --preset-tx3: #333333;
  --preset-tx-sup: #426350;
  --preset-tx-sup-strong: #03632b;
  --preset-tx-accent: #a8262d;
  --preset-ax1: #c9242b;
}

body.theme-light.scheme-lord {
  --preset-bg0-h: 41.2deg;
  --preset-bg0-s: 42.1%;
  --preset-bg0-l: 92.5%;
  --preset-bg1-h: 37.3deg;
  --preset-bg1-s: 69.6%;
  --preset-bg1-l: 100%;
  --preset-bg2-h: 116.8deg;
  --preset-bg2-s: 56.6%;
  --preset-bg2-l: 93.5%;
  --preset-bg3-h: 129.1deg;
  --preset-bg3-s: 9.6%;
  --preset-bg3-l: 59.4%;
  --preset-bg4-h: 34.1deg;
  --preset-bg4-s: 69.6%;
  --preset-bg4-l: 77%;
  --preset-tx1: #1f1a17;
  --preset-tx2: #3a312b;
  --preset-tx3: #5b4f45;
  --preset-tx-sup: #5b4f45;
  --preset-tx-sup-strong: #3a312b;
  --preset-tx-accent: #b15e14;
  --preset-ax1: #d6831f;
}

body.scheme-monkey.style-great-hall {
  --preset-bg-tune: 12;
}

body.scheme-monkey.style-huaguo-mount {
  --preset-bg-tune: 0;
}

body.scheme-lord.style-great-hall {
  --preset-bg-tune: -6;
}

body.scheme-lord.style-huaguo-mount {
  --preset-bg-tune: -12;
}

/* =========================================================
  Style Settings 注入的静态变量
========================================================= */
:root {
  /* 用户自定义字体 */
  --u-font-text-theme: initial;
  --u-cn-hei: "";
  --u-cn-song: "";
  --u-cn-kai: "";
  --u-cn-fang: "";
  --u-west-serif: "";
  --u-west-sans: "";
  --u-west-hand: "";
  --u-bg-tune: 0;
}

body {
  /* =========================================================
      字体栈 (用户自定义 > 系统栈 > 兜底)
    ========================================================= */
  --stack-hei: var(--u-cn-hei), "SystemHei", sans-serif;
  --stack-song: var(--u-cn-song), "SystemSong", serif;
  --stack-kai: var(--u-cn-kai), "SystemKai", "SystemHei", sans-serif;
  --stack-fang: var(--u-cn-fang), "SystemFang", "SystemSong", serif;
  --stack-serif: var(--u-west-serif), "SystemSerif";
  --stack-sans: var(--u-west-sans), "SystemSans";
  --stack-hand: var(--u-west-hand), "SystemHand", "SystemSans";
  --stack-serif-i: "SystemSerifItalic", "SystemHand";
  --stack-sans-i: "SystemSansItalic", "SystemHand";
  --res-font-interface-west: var(
    --u-font-interface-west,
    var(--preset-font-interface-west, "")
  );
  --res-font-interface-cn: var(
    --u-font-interface-cn,
    var(--preset-font-interface-cn, "")
  );
  --res-font-interface-weight: var(
    --u-font-interface-weight,
    var(--preset-font-interface-weight, normal)
  );
  --res-font-theme-west: var(
    --u-font-theme-west,
    var(--preset-font-theme-west, "")
  );
  --res-font-theme-cn: var(
    --u-font-theme-cn,
    var(--preset-font-theme-cn, "")
  );
  --res-font-theme-weight: var(
    --u-font-theme-weight,
    var(--preset-font-theme-weight, normal)
  );
  --res-font-mono-west: var(
    --u-font-mono-west,
    var(--preset-font-mono-west, "")
  );
  --res-font-mono-cn: var(
    --u-font-mono-cn,
    var(--preset-font-mono-cn, "")
  );
  --res-font-mono-weight: var(
    --u-font-mono-weight,
    var(--preset-font-mono-weight, normal)
  );
  --res-font-headings-west: var(
    --u-font-headings-west,
    var(--preset-font-headings-west, "")
  );
  --res-font-headings-cn: var(
    --u-font-headings-cn,
    var(--preset-font-headings-cn, "")
  );
  --res-font-headings-weight: var(
    --u-font-headings-weight,
    var(--preset-font-headings-weight, normal)
  );
  --res-font-quote-west: var(
    --u-font-quote-west,
    var(--preset-font-quote-west, "")
  );
  --res-font-quote-cn: var(
    --u-font-quote-cn,
    var(--preset-font-quote-cn, "")
  );
  --res-font-quote-weight: var(
    --u-font-quote-weight,
    var(--preset-font-quote-weight, normal)
  );
  --res-font-em-west: var(
    --u-font-em-west,
    var(--preset-font-em-west, "")
  );
  --res-font-em-cn: var(
    --u-font-em-cn,
    var(--preset-font-em-cn, "")
  );
  --res-font-em-weight: var(
    --u-font-em-weight,
    var(--preset-font-em-weight, normal)
  );
  --res-font-strong-west: var(
    --u-font-strong-west,
    var(--preset-font-strong-west, "")
  );
  --res-font-strong-cn: var(
    --u-font-strong-cn,
    var(--preset-font-strong-cn, "")
  );
  --res-font-strong-weight: var(
    --u-font-strong-weight,
    var(--preset-font-strong-weight, normal)
  );
  --res-font-tag-west: var(
    --u-font-tag-west,
    var(--preset-font-tag-west, "")
  );
  --res-font-tag-cn: var(
    --u-font-tag-cn,
    var(--preset-font-tag-cn, "")
  );
  --res-font-tag-weight: var(
    --u-font-tag-weight,
    var(--preset-font-tag-weight, normal)
  );
  --gap-unit: calc(var(--font-text-size) / 8);
  --res-gap-p-line-height: calc(
    var(--gap-unit) * var(--preset-gap-p-line-height)
  );
  --res-gap-h1-font-size: calc(
    var(--gap-unit) * var(--preset-gap-h1-font-size)
  );
  --res-gap-h1-line-height: calc(
    var(--gap-unit) * var(--preset-gap-h1-line-height)
  );
  --res-gap-h1-margin-top: calc(
    var(--gap-unit) * var(--preset-gap-h1-margin-top)
  );
  --res-gap-h1-margin-bottom: calc(
    var(--gap-unit) * var(--preset-gap-h1-margin-bottom)
  );
  --res-gap-h2-font-size: calc(
    var(--gap-unit) * var(--preset-gap-h2-font-size)
  );
  --res-gap-h2-line-height: calc(
    var(--gap-unit) * var(--preset-gap-h2-line-height)
  );
  --res-gap-h2-margin-top: calc(
    var(--gap-unit) * var(--preset-gap-h2-margin-top)
  );
  --res-gap-h2-margin-bottom: calc(
    var(--gap-unit) * var(--preset-gap-h2-margin-bottom)
  );
  --res-gap-h3-font-size: calc(
    var(--gap-unit) * var(--preset-gap-h3-font-size)
  );
  --res-gap-h3-line-height: calc(
    var(--gap-unit) * var(--preset-gap-h3-line-height)
  );
  --res-gap-h3-margin-top: calc(
    var(--gap-unit) * var(--preset-gap-h3-margin-top)
  );
  --res-gap-h3-margin-bottom: calc(
    var(--gap-unit) * var(--preset-gap-h3-margin-bottom)
  );
  --res-gap-h4-font-size: calc(
    var(--gap-unit) * var(--preset-gap-h4-font-size)
  );
  --res-gap-h4-line-height: calc(
    var(--gap-unit) * var(--preset-gap-h4-line-height)
  );
  --res-gap-h4-margin-top: calc(
    var(--gap-unit) * var(--preset-gap-h4-margin-top)
  );
  --res-gap-h4-margin-bottom: calc(
    var(--gap-unit) * var(--preset-gap-h4-margin-bottom)
  );
  --res-gap-h5-font-size: calc(
    var(--gap-unit) * var(--preset-gap-h5-font-size)
  );
  --res-gap-h5-line-height: calc(
    var(--gap-unit) * var(--preset-gap-h5-line-height)
  );
  --res-gap-h5-margin-top: calc(
    var(--gap-unit) * var(--preset-gap-h5-margin-top)
  );
  --res-gap-h5-margin-bottom: calc(
    var(--gap-unit) * var(--preset-gap-h5-margin-bottom)
  );
  --res-gap-h6-font-size: calc(
    var(--gap-unit) * var(--preset-gap-h6-font-size)
  );
  --res-gap-h6-line-height: calc(
    var(--gap-unit) * var(--preset-gap-h6-line-height)
  );
  --res-gap-h6-margin-top: calc(
    var(--gap-unit) * var(--preset-gap-h6-margin-top)
  );
  --res-gap-h6-margin-bottom: calc(
    var(--gap-unit) * var(--preset-gap-h6-margin-bottom)
  );
  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 24px;
  --radius-xl: 32px;
  --res-bg-tune: clamp(-30, var(--preset-bg-tune, 0), 30);
  --res-bg-ds: calc(var(--res-bg-tune) * 1.206%);
  --res-bg-dl: calc(var(--res-bg-tune) * 0.278%);
  --res-bg0-h: var(--preset-bg0-h);
  --res-bg0-s: clamp(
    0%,
    calc(var(--preset-bg0-s) + var(--res-bg-ds)),
    100%
  );
  --res-bg0-l: clamp(
    0%,
    calc(var(--preset-bg0-l) + var(--res-bg-dl)),
    100%
  );
  --res-bg0: hsl(
    var(--res-bg0-h) var(--res-bg0-s) var(--res-bg0-l)
  );
  --res-bg1-h: var(--preset-bg1-h);
  --res-bg1-s: clamp(
    0%,
    calc(var(--preset-bg1-s) + var(--res-bg-ds)),
    100%
  );
  --res-bg1-l: clamp(
    0%,
    calc(var(--preset-bg1-l) + var(--res-bg-dl)),
    100%
  );
  --res-bg1: hsl(
    var(--res-bg1-h) var(--res-bg1-s) var(--res-bg1-l)
  );
  --res-bg2-h: var(--preset-bg2-h);
  --res-bg2-s: clamp(
    0%,
    calc(var(--preset-bg2-s) + var(--res-bg-ds)),
    100%
  );
  --res-bg2-l: clamp(
    0%,
    calc(var(--preset-bg2-l) + var(--res-bg-dl)),
    100%
  );
  --res-bg2: hsl(
    var(--res-bg2-h) var(--res-bg2-s) var(--res-bg2-l)
  );
  --res-bg3-h: var(--preset-bg3-h);
  --res-bg3-s: clamp(
    0%,
    calc(var(--preset-bg3-s) + var(--res-bg-ds)),
    100%
  );
  --res-bg3-l: clamp(
    0%,
    calc(var(--preset-bg3-l) + var(--res-bg-dl)),
    100%
  );
  --res-bg3: hsl(
    var(--res-bg3-h) var(--res-bg3-s) var(--res-bg3-l)
  );
  --res-bg4-h: var(--preset-bg4-h);
  --res-bg4-s: clamp(
    0%,
    calc(var(--preset-bg4-s) + var(--res-bg-ds)),
    100%
  );
  --res-bg4-l: clamp(
    0%,
    calc(var(--preset-bg4-l) + var(--res-bg-dl)),
    100%
  );
  --res-bg4: hsl(
    var(--res-bg4-h) var(--res-bg4-s) var(--res-bg4-l)
  );
  --res-tx1: var(--preset-tx1);
  --res-tx2: var(--preset-tx2);
  --res-tx3: var(--preset-tx3);
  --res-tx-sup: var(--preset-tx-sup);
  --res-tx-sup-strong: var(--preset-tx-sup-strong);
  --res-tx-accent: var(--preset-tx-accent);
  --res-ax1: var(--preset-ax1);
}

body.bg-tune-override {
  --res-bg-tune: clamp(-30, var(--u-bg-tune, var(--preset-bg-tune, 0)), 30);
}

body.theme-light.scheme-monkey {
  --background-primary: var(--res-bg0);
  --background-primary-alt: var(--res-bg1);
  --background-secondary: var(--res-bg2);
  --background-secondary-alt: var(--res-bg4);
  --icon-color: var(--res-tx1);
  --ribbon-background: var(--res-bg3);
  --tab-container-background: var(--res-bg3);
  --text-normal: var(--res-tx2);
  --text-muted: var(--res-tx3);
  --text-faint: var(--res-tx3);
  --text-accent: var(--res-tx-accent);
  --text-accent-hover: var(--res-ax1);
  --interactive-accent: var(--res-ax1);
  --interactive-accent-hover: var(--res-ax1);
  --interactive-normal: var(--res-bg1);
  --interactive-hover: var(--res-bg2);
  --nav-item-color: var(--text-normal);
  --blockquote-color: var(--res-tx-sup);
  --res-color-em: var(--res-tx-sup);
  --res-color-strong: var(--res-tx-sup-strong);
  --res-color-quote: var(--res-tx3);
  --h1-color: var(--res-tx1);
  --h2-color: var(--res-tx-accent);
  --h3-color: var(--res-tx1);
  --h4-color: var(--res-tx-accent);
  --h5-color: var(--res-tx1);
  --h6-color: var(--res-tx-accent);
  --text-highlight: var(--res-bg0);
  --background-modifier-hover: var(--res-bg2);
  --background-modifier-active-hover: var(--res-bg2);
  --background-modifier-border: var(--res-bg3);
  --background-modifier-border-hover: var(--res-bg4);
  --background-modifier-border-focus: var(--res-bg4);
}

body.theme-light.scheme-lord {
  --background-primary: var(--res-bg0);
  --background-primary-alt: var(--res-bg1);
  --background-secondary: var(--res-bg2);
  --background-secondary-alt: var(--res-bg4);
  --icon-color: var(--res-tx1);
  --ribbon-background: var(--res-bg3);
  --tab-container-background: var(--res-bg3);
  --text-normal: var(--res-tx2);
  --text-muted: var(--res-tx3);
  --text-faint: var(--res-tx3);
  --text-accent: var(--res-tx-accent);
  --text-accent-hover: var(--res-ax1);
  --interactive-accent: var(--res-ax1);
  --interactive-accent-hover: var(--res-ax1);
  --interactive-normal: var(--res-bg1);
  --interactive-hover: var(--res-bg2);
  --nav-item-color: var(--text-normal);
  --blockquote-color: var(--res-tx-sup);
  --res-color-em: var(--res-tx-sup);
  --res-color-strong: var(--res-tx-sup-strong);
  --res-color-quote: var(--res-tx3);
  --h1-color: var(--res-tx1);
  --h2-color: var(--res-tx-accent);
  --h3-color: var(--res-tx1);
  --h4-color: var(--res-tx-accent);
  --h5-color: var(--res-tx1);
  --h6-color: var(--res-tx-accent);
  --text-highlight: var(--res-bg0);
  --background-modifier-hover: var(--res-bg2);
  --background-modifier-active-hover: var(--res-bg2);
  --background-modifier-border: var(--res-bg3);
  --background-modifier-border-hover: var(--res-bg4);
  --background-modifier-border-focus: var(--res-bg4);
}

.nav-file-tag {
  line-height: var(--line-height-title);
}

body {
  --font-text:
    var(--font-text-theme), var(--font-text-override), var(--font-default);
  --font-text-theme: var(--res-font-theme-west), var(--res-font-theme-cn);
  --font-monospace-theme: var(--res-font-mono-west), var(--res-font-mono-cn);
  --line-height-normal: var(--res-gap-p-line-height);
}

.markdown-reading-view .markdown-preview-view.markdown-rendered div:is(.el-h1, .el-h2, .el-h3, .el-h4, .el-h5, .el-h6) + div > :is(blockquote, p, ol, ul, pre) {
  margin-top: 0;
}

body {
  --h1-font: var(--res-font-headings-west), var(--res-font-headings-cn);
  --h1-weight: var(--res-font-headings-weight);
  --h1-size: var(--res-gap-h1-font-size);
  --h1-line-height: var(--res-gap-h1-line-height);
  --h2-font: var(--res-font-headings-west), var(--res-font-headings-cn);
  --h2-weight: var(--res-font-headings-weight);
  --h2-size: var(--res-gap-h2-font-size);
  --h2-line-height: var(--res-gap-h2-line-height);
  --h3-font: var(--res-font-headings-west), var(--res-font-headings-cn);
  --h3-weight: var(--res-font-headings-weight);
  --h3-size: var(--res-gap-h3-font-size);
  --h3-line-height: var(--res-gap-h3-line-height);
  --h4-font: var(--res-font-headings-west), var(--res-font-headings-cn);
  --h4-weight: var(--res-font-headings-weight);
  --h4-size: var(--res-gap-h4-font-size);
  --h4-line-height: var(--res-gap-h4-line-height);
  --h5-font: var(--res-font-headings-west), var(--res-font-headings-cn);
  --h5-weight: var(--res-font-headings-weight);
  --h5-size: var(--res-gap-h5-font-size);
  --h5-line-height: var(--res-gap-h5-line-height);
  --h6-font: var(--res-font-headings-west), var(--res-font-headings-cn);
  --h6-weight: var(--res-font-headings-weight);
  --h6-size: var(--res-gap-h6-font-size);
  --h6-line-height: var(--res-gap-h6-line-height);
}

.markdown-source-view.cm-s-obsidian.mod-cm6.is-live-preview .cm-line.HyperMD-header {
  padding-top: 0;
}

.markdown-reading-view .markdown-preview-view.markdown-rendered h1 {
  margin-top: var(--res-gap-h1-margin-top) !important;
  margin-bottom: var(--res-gap-h1-margin-bottom);
}

.markdown-reading-view .markdown-preview-view.markdown-rendered div:has(> :is(h1)) + div > h1 {
  margin-block-start: 0 !important;
}

.markdown-reading-view .markdown-preview-view.markdown-rendered h2 {
  margin-top: var(--res-gap-h2-margin-top) !important;
  margin-bottom: var(--res-gap-h2-margin-bottom);
}

.markdown-reading-view .markdown-preview-view.markdown-rendered div:has(> :is(h1, h2)) + div > h2 {
  margin-block-start: 0 !important;
}

.markdown-reading-view .markdown-preview-view.markdown-rendered h3 {
  margin-top: var(--res-gap-h3-margin-top) !important;
  margin-bottom: var(--res-gap-h3-margin-bottom);
}

.markdown-reading-view .markdown-preview-view.markdown-rendered div:has(> :is(h1, h2, h3)) + div > h3 {
  margin-block-start: 0 !important;
}

.markdown-reading-view .markdown-preview-view.markdown-rendered h4 {
  margin-top: var(--res-gap-h4-margin-top) !important;
  margin-bottom: var(--res-gap-h4-margin-bottom);
}

.markdown-reading-view .markdown-preview-view.markdown-rendered div:has(> :is(h1, h2, h3, h4)) + div > h4 {
  margin-block-start: 0 !important;
}

.markdown-reading-view .markdown-preview-view.markdown-rendered h5 {
  margin-top: var(--res-gap-h5-margin-top) !important;
  margin-bottom: var(--res-gap-h5-margin-bottom);
}

.markdown-reading-view .markdown-preview-view.markdown-rendered div:has(> :is(h1, h2, h3, h4, h5)) + div > h5 {
  margin-block-start: 0 !important;
}

.markdown-reading-view .markdown-preview-view.markdown-rendered h6 {
  margin-top: var(--res-gap-h6-margin-top) !important;
  margin-bottom: var(--res-gap-h6-margin-bottom);
}

.markdown-reading-view .markdown-preview-view.markdown-rendered div:has(> :is(h1, h2, h3, h4, h5, h6)) + div > h6 {
  margin-block-start: 0 !important;
}

.markdown-source-view.cm-s-obsidian.mod-cm6.is-live-preview .cm-quote,
.markdown-reading-view .markdown-preview-view.markdown-rendered blockquote {
  font-family: var(--res-font-quote-west), var(--res-font-quote-cn);
  color: var(--res-color-quote, var(--text-normal));
}

.markdown-source-view.cm-s-obsidian.mod-cm6.is-live-preview .cm-em,
.markdown-reading-view .markdown-preview-view.markdown-rendered em {
  font-family: var(--res-font-em-west), var(--res-font-em-cn);
  font-weight: var(--res-font-em-weight);
  font-style: normal;
  color: var(--res-color-em, var(--text-normal));
}

.markdown-source-view.cm-s-obsidian.mod-cm6.is-live-preview .cm-strong,
.markdown-reading-view .markdown-preview-view.markdown-rendered strong {
  font-family: var(--res-font-strong-west), var(--res-font-strong-cn);
  font-weight: var(--res-font-strong-weight);
  color: var(--res-color-strong, var(--text-normal));
}

body {
  --link-color: var(--text-normal);
  --link-color-hover: var(--text-normal);
  /* --link-decoration: underline; */
  /* --link-decoration-hover: underline; */
  --link-decoration-thickness: 2px;
  --link-underline-offset: 4px;
  --link-decoration-color: #5dad78;
  --link-decoration-color-hover: #c9242b;
  --link-decoration-thickness-hover: 4px;
  /* --link-weight: var(--font-weight); */
  /* --link-external-color: var(--text-accent); */
  /* --link-external-color-hover: var(--text-accent-hover); */
  /* --link-external-decoration: underline; */
  /* --link-external-decoration-hover: underline; */
  /* --link-external-filter: none; */
  --link-unresolved-color: var(--text-normal);
  --link-unresolved-opacity: 0.7;
  /* --link-unresolved-filter: none; */
  --link-unresolved-decoration-style: dashed;
  --link-unresolved-decoration-style-hover: solid;
  --link-unresolved-decoration-color: #5dad78;
}

.markdown-source-view.mod-cm6 {
  /* 通用 underline */
}
.markdown-source-view.mod-cm6 .cm-underline {
  text-underline-offset: var(--link-underline-offset);
  text-decoration-color: var(--link-decoration-color);
}
.markdown-source-view.mod-cm6 .cm-underline:hover {
  text-decoration-color: var(--link-decoration-color-hover);
  text-decoration-thickness: var(--link-decoration-thickness-hover);
}
.markdown-source-view.mod-cm6 {
  /* ===== 内部链接 ===== */
}
@media (hover: hover) {
  .markdown-source-view.mod-cm6 .cm-hmd-internal-link:hover {
    text-decoration-line: none;
  }
}
.markdown-source-view.mod-cm6 {
  /* ===== 未解析链接 ===== */
}
@media (hover: hover) {
  .markdown-source-view.mod-cm6 .is-unresolved .cm-underline:hover {
    text-decoration-style: var(--link-unresolved-decoration-style-hover);
  }
}

.markdown-source-view.cm-s-obsidian.mod-cm6.is-live-preview .cm-formatting-highlight,
.markdown-source-view.cm-s-obsidian.mod-cm6.is-live-preview .cm-highlight,
.markdown-reading-view .markdown-preview-view.markdown-rendered mark {
  color: var(--text-highlight);
  background-color: var(--res-tx-accent);
}

[data-id=monkey-king-theme] + .style-settings-container {
  width: 100%;
}
[data-id=monkey-king-theme] + .style-settings-container input,
[data-id=monkey-king-theme] + .style-settings-container select,
[data-id=monkey-king-theme] + .style-settings-container textarea {
  width: 100%;
  flex: 1 1 0;
}
[data-id=monkey-king-theme] + .style-settings-container .style-settings-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
[data-id=monkey-king-theme] + .style-settings-container .style-settings-container .style-settings-heading {
  width: 100%;
}
[data-id=monkey-king-theme] + .style-settings-container .style-settings-container > .setting-item:not(.style-settings-heading) {
  width: auto;
  min-width: min(180px, 100%);
  flex: 1 1 180px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
[data-id=monkey-king-theme] + .style-settings-container .style-settings-container > .setting-item:not(.style-settings-heading) .setting-item-info,
[data-id=monkey-king-theme] + .style-settings-container .style-settings-container > .setting-item:not(.style-settings-heading) .setting-item-control {
  flex: none;
}

/*# sourceMappingURL=theme.css.map */
