@use "../../abstracts/variables" as *;

#{$preview} .cm-em,
#{$reading} em {
  font-family: var(--res-font-em-west), var(--res-font-em-cn);
  font-style: normal;
  color: rgb(197, 49, 49);
  // font-weight: bold;
}

#{$preview} .cm-strong,
#{$reading} strong {
  font-family: var(--res-font-strong-west), var(--res-font-strong-cn);
  // font-weight: bold;
}