@use "../../abstracts/variables" as *;

#{$preview} .cm-em,
#{$reading} em {
  font-family: "SystemSerifItalic", "SystemSong", serif;
  font-style: normal;
  color: rgb(197, 49, 49);
  font-weight: bold;
}

#{$preview} .cm-strong,
#{$reading} strong {
  font-family: "SystemSans", "SystemHei", sans-serif;
  font-weight: bold;
}