.mod-sidedock .workspace-tab-header.is-active {
  --icon-color-focused: var(--res-bg4);
  --tab-text-color-focused-active-current: var(--res-bg4);
  --background-modifier-hover: var(--res-tx-accent);
  --tab-text-color-focused-active: var(--res-bg4);
}
