// Fix the excessive line height of nav file tags in loose mode
.nav-file-tag {
  line-height: var(--line-height-title);
}

// Fix the modal border width
.modal.mod-settings,
div.prompt {
  border: var(--divider-width) solid var(--background-modifier-border);
}

.mod-settings .vertical-tab-content-container {
  border-width: 0;
}

// Fix the graph menu with navigation style
.tree-item.graph-control-section .tree-item-self:hover {
  transform: none;
  box-shadow: none;
  --nav-collapse-icon-color: var(--text-faint);
}
