/* ============================================================
   阴影重置 
   ============================================================ */
// 1. 全局变量重置

body {
  --shadow-xs: none;
  --shadow-s: none;
  --shadow-l: none;
  --shadow-edges: none;
}

// 2. 组件变量重置
.theme-light,
.theme-dark {
  --input-shadow: none;
  --input-shadow-hover: none;
  --button-shadow: none;

  --pdf-shadow: none;
  --pdf-thumbnail-shadow: none;
  --bases-cards-shadow: none;
  --tab-stacked-shadow: none;
  --tab-switcher-preview-shadow: none;

  //编辑器与元数据
  --embed-block-shadow-hover: none;
  --metadata-property-box-shadow-hover: none;
  --swatch-shadow: none;
  --raised-shadow: none;

  // 菜单与模态框
  --menu-shadow: none;
  --modal-shadow: none;
  --prompt-shadow: none;
}

// 3. 组件强制重置
.modal,
.menu,
.vertical-tab-content-container,
.popover,
.tooltip,
.prompt,
.file-embed,
.markdown-embed {
  box-shadow: none !important;
  border: 1px solid var(--background-modifier-border);
}
