@use "../../../01. abstracts/variables" as *;

#{$preview} .cm-em,
#{$reading} em {
  font-family: var(--res-font-em-west), var(--res-font-em-zh);
  font-weight: var(--res-font-em-weight);
  font-style: normal;
  color: var(--res-color-em, var(--text-normal));
}
