@use "../../../01. abstracts/variables" as *;

body {
  --link-color: var(--text-normal);
  --link-color-hover: var(--text-normal);

  --link-decoration-thickness: var(--mkk-line-width);
  --mkk-link-underline-offset: var(--u-mkk-link-underline-offset, 4px);
  --mkk-link-decoration-color: var(--res-tx-sup);
  --mkk-link-decoration-color-hover: var(--interactive-accent);
  --mkk-link-decoration-thickness-hover: var(
    --u-mkk-link-decoration-thickness-hover,
    calc(var(--mkk-line-width) * 2)
  );

  --link-unresolved-color: var(--text-normal);
  --link-unresolved-opacity: 0.7;
  --link-unresolved-decoration-style: dashed;
  --mkk-link-unresolved-decoration-style-hover: var(
    --u-mkk-link-unresolved-decoration-style-hover,
    solid
  );
  --link-unresolved-decoration-color: var(--res-tx-sup);

  --link-external-color-hover: var(--interactive-accent);
}

@media (hover: hover) {
  .cm-s-obsidian {
    span.cm-hmd-internal-link:hover,
    span.cm-link:hover {
      text-decoration-line: none;
    }
  }
}

.markdown-source-view.mod-cm6 {
  // 通用 underline
  .cm-underline {
    text-underline-offset: var(--mkk-link-underline-offset);
    text-decoration-color: var(--mkk-link-decoration-color);
    &:hover {
      text-decoration-color: var(--mkk-link-decoration-color-hover);
      text-decoration-thickness: var(--mkk-link-decoration-thickness-hover);
    }
  }
  //  未解析链接
  .is-unresolved {
    .cm-underline {
      @media (hover: hover) {
        &:hover {
          text-decoration-style: var(
            --mkk-link-unresolved-decoration-style-hover
          );
        }
      }
    }
  }
}

a {
  text-underline-offset: var(--mkk-link-underline-offset);
  text-decoration-color: var(--mkk-link-decoration-color);
  &:hover {
    text-decoration-color: var(--mkk-link-decoration-color-hover);
    text-decoration-thickness: var(--mkk-link-decoration-thickness-hover);
  }
}

.metadata-property-value .internal-link,
.markdown-rendered .internal-link {
  &.is-unresolved {
    @media (hover: hover) {
      &:hover {
        text-decoration-style: var(
          --mkk-link-unresolved-decoration-style-hover
        );
        text-decoration-color: var(--mkk-link-decoration-color-hover);
      }
    }
  }
}
