@use "../../../01. abstracts/variables" as *;

body {
  --link-color: var(--text-normal);
  --link-color-hover: var(--text-normal);
  /* --link-decoration: underline; */
  /* --link-decoration-hover: underline; */
  --link-decoration-thickness: 2px;
  --preset-link-underline-offset: 4px;
  --preset-link-decoration-color: #5dad78;
  --preset-link-decoration-color-hover: #c9242b;
  --preset-link-decoration-thickness-hover: 4px;
  /* --link-weight: var(--font-weight); */

  /* --link-external-color: var(--text-accent); */
  /* --link-external-color-hover: var(--text-accent-hover); */
  /* --link-external-decoration: underline; */
  /* --link-external-decoration-hover: underline; */
  /* --link-external-filter: none; */

  --link-unresolved-color: var(--text-normal);
  --link-unresolved-opacity: 0.7;
  /* --link-unresolved-filter: none; */
  --link-unresolved-decoration-style: dashed;
  --preset-link-unresolved-decoration-style-hover: solid;
  --link-unresolved-decoration-color: #5dad78;
}

.markdown-source-view.mod-cm6 {
  /* 通用 underline */
  .cm-underline {
    // text-decoration-line: var(--link-decoration);
    // text-decoration-thickness: var(--link-decoration-thickness);
    text-underline-offset: var(--preset-link-underline-offset);
    text-decoration-color: var(--preset-link-decoration-color);
    &:hover {
      text-decoration-color: var(--preset-link-decoration-color-hover);
      text-decoration-thickness: var(--preset-link-decoration-thickness-hover);
    }
  }

  /* ===== 内部链接 ===== */
  .cm-hmd-internal-link {
    // color: var(--link-color);
    // font-weight: var(--link-weight);

    @media (hover: hover) {
      &:hover {
        // color: var(--link-color-hover);
        // text-decoration-line: var(--link-decoration-hover);
        text-decoration-line: none;
      }
    }

    // .cm-underline {
    //   @media (hover: hover) {
    //     &:hover {
    //       text-decoration-line: var(--link-decoration-hover);
    //     }
    //   }
    // }
  }

  /* ===== 未解析链接 ===== */
  .is-unresolved {
    // color: var(--link-unresolved-color);
    // opacity: var(--link-unresolved-opacity);
    // filter: var(--link-unresolved-filter);

    // @media (hover: hover) {
    //   &:hover {
    //     opacity: 1;
    //     color: var(--link-color-hover);
    //     text-decoration-color: var(--link-color-hover);
    //   }
    // }

    .cm-underline {
      // text-decoration-line: var(--link-decoration);
      // text-decoration-style: var(--link-unresolved-decoration-style);
      // text-decoration-color: var(--link-unresolved-decoration-color);
      // color: var(--link-unresolved-color);

      @media (hover: hover) {
        &:hover {
          text-decoration-style: var(
            --preset-link-unresolved-decoration-style-hover
          );
        }
      }
    }
  }
}
