@use "../../../01. abstracts/variables" as *;

#{$preview} .cm-strong,
#{$reading} strong {
  font-family: var(--res-font-strong-west), var(--res-font-strong-zh);
  font-weight: var(--res-font-strong-weight);
  color: var(--res-tx-sup-strong);
}
