/* @settings

name: Monkey King Theme
id: monkey-king-theme
settings:
    -
        id: simple-settings-heading
        title: 简单设置
        type: heading
        level: 1
        collapsed: false
    -
        id: color-scheme
        title: 配色
        type: class-select
        default: 'scheme-monkey'
        description: 选择主题配色方案
        options:
            -
                label: "美猴王"
                value: 'scheme-monkey'
            -
                label: "太上老君"
                value: 'scheme-lord'

    -
        id: style-mode
        title: 模式
        type: class-select
        default: 'style-huaguo-mount'
        description: 选择主题模式
        options:
            -
                label: "凌霄宝殿"
                value: 'style-great-hall'
            -
                label: "花果山"
                value: 'style-huaguo-mount'
    -
        id: bg-tune-settings-heading
        title: 背景微调
        type: heading
        level: 2
        collapsed: true
    -
        id: bg-tune-override
        title: 启用手动接管
        type: class-toggle
        default: false
        description: 关闭时使用每个“配色 × 模式”的默认背景微调值，开启后使用下方滑块值。
    -
        id: u-bg-tune
        title: 背景总微调
        type: variable-number-slider
        default: 0
        min: -20
        max: 20
        step: 1
        description: 单滑块统一微调所有背景色的饱和度与亮度（不改变色相）。0 为不偏移。
    -
        id: u-zh-hei
        title: 黑体
        type: variable-text
        default: ""
        description: 用于无衬线场景。留空使用系统自带黑体
    -
        id: u-zh-song
        title: 宋体
        type: variable-text
        default: ""
        description: 用于衬线场景。留空使用系统自带宋体
    -
        id: optimization-settings-heading
        title: 优化设置
        type: heading
        level: 1
        collapsed: true
    -
        id: font-settings-heading
        title: 字体
        type: heading
        level: 2
        collapsed: true
    -
        id: u-font-mono-zh
        title: 代码字体
        type: variable-text
        default: ""
        description: 代码块和行内代码的字体,留空使用黑体。
    -
        id: chinese-font-heading
        title: 中文字体
        collapsed: false
        type: heading
        level: 3

    -
        id: u-zh-kai
        title: 楷体
        type: variable-text
        default: ""
        description: 用于手写/笔记场景。留空使用系统自带楷体
    -
        id: u-zh-fang
        title: 仿宋
        type: variable-text
        default: ""
        description: 用于公文/引用场景。留空使用系统自带仿宋体
    -
        id: western-font-heading
        title: 西文字体
        collapsed: false
        type: heading
        level: 3
    -
        id: u-west-serif
        title: 衬线
        type: variable-text
        default: ""
        description: 西文衬线字体。留空使用系统默认
    -
        id: u-west-sans
        title: 无衬线
        type: variable-text
        default: ""
        description: 西文无衬线字体。留空使用系统默认
    -
        id: u-west-hand
        title: 手写体
        type: variable-text
        default: ""
        description: 西文手写字体。留空使用系统默认
    -
        id: block-font-settings-heading
        title: 编辑器元素字体配置
        type: heading
        level: 3
        collapsed: true
        description: 配置文章中常用元素的字体族。注意：只能用给定的西文字体来实现西文斜体（Italic）和不斜的中文混排。
    -
        id: block-font-settings-headings-heading
        title: 标题
        type: heading
        level: 4
        collapsed: true
    -
        id: u-font-headings-west
        title: 西文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "非衬线"
                value: 'var(--stack-sans)'
            -
                label: "手写体"
                value: 'var(--stack-hand)'
            -
                label: "系统衬线斜体"
                value: 'var(--stack-serif-i)'
            -
                label: "系统非衬线斜体"
                value: 'var(--stack-sans-i)'
    -
        id: u-font-headings-zh
        title: 中文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "黑体"
                value: 'var(--stack-hei)'
            -
                label: "宋体"
                value: 'var(--stack-song)'
            -
                label: "楷体"
                value: 'var(--stack-kai)'
            -
                label: "仿宋"
                value: 'var(--stack-fang)'
    -
        id: block-font-settings-quote-heading
        title: 引用块
        type: heading
        level: 4
        collapsed: true
    -
        id: u-font-quote-west
        title: 西文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "非衬线"
                value: 'var(--stack-sans)'
            -
                label: "手写体"
                value: 'var(--stack-hand)'
            -
                label: "系统衬线斜体"
                value: 'var(--stack-serif-i)'
            -
                label: "系统非衬线斜体"
                value: 'var(--stack-sans-i)'
    -
        id: u-font-quote-zh
        title: 中文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "黑体"
                value: 'var(--stack-hei)'
            -
                label: "宋体"
                value: 'var(--stack-song)'
            -
                label: "楷体"
                value: 'var(--stack-kai)'
            -
                label: "仿宋"
                value: 'var(--stack-fang)'
    -
        id: block-font-settings-em-heading
        title: 强调块（*text*）
        type: heading
        level: 4
        collapsed: true
    -
        id: u-font-em-west
        title: 西文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "非衬线"
                value: 'var(--stack-sans)'
            -
                label: "手写体"
                value: 'var(--stack-hand)'
            -
                label: "系统衬线斜体"
                value: 'var(--stack-serif-i)'
            -
                label: "系统非衬线斜体"
                value: 'var(--stack-sans-i)'
    -
        id: u-font-em-zh
        title: 中文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "黑体"
                value: 'var(--stack-hei)'
            -
                label: "宋体"
                value: 'var(--stack-song)'
            -
                label: "楷体"
                value: 'var(--stack-kai)'
            -
                label: "仿宋"
                value: 'var(--stack-fang)'
    -
        id: block-font-settings-strong-heading
        title: 加重块（**text**）
        type: heading
        level: 4
        collapsed: true
    -
        id: u-font-strong-west
        title: 西文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "非衬线"
                value: 'var(--stack-sans)'
            -
                label: "手写体"
                value: 'var(--stack-hand)'
            -
                label: "系统衬线斜体"
                value: 'var(--stack-serif-i)'
            -
                label: "系统非衬线斜体"
                value: 'var(--stack-sans-i)'
    -
        id: u-font-strong-zh
        title: 中文
        type: variable-select
        default: initial
        options:
            - 
                label: "模式默认"
                value: initial
            -
                label: "黑体"
                value: 'var(--stack-hei)'
            -
                label: "宋体"
                value: 'var(--stack-song)'
            -
                label: "楷体"
                value: 'var(--stack-kai)'
            -
                label: "仿宋"
                value: 'var(--stack-fang)'
    -
        id: layout-settings-heading
        title: 布局
        type: heading
        level: 2
        collapsed: true
    -
        id: gap-strategy
        title: 密度策略
        type: class-select
        default: 'gap-auto'
        description: 选择间距/字号密度策略（默认跟随模式）
        options:
            -
                label: "跟随模式"
                value: 'gap-auto'
            -
                label: "宽松"
                value: 'gap-loose'
            -
                label: "紧凑"
                value: 'gap-compact'
*/
