@use "../../../01. abstracts/variables" as *;
@use "../../../01. abstracts/functions" as *;

// 1. 接管默认css变量
body {
  @for $i from 1 through 6 {
    --h#{$i}-font: var(--res-font-headings-west), var(--res-font-headings-zh);
    --h#{$i}-weight: var(--res-font-headings-weight);
    --h#{$i}-size: var(--res-gap-h#{$i}-font-size);
    --h#{$i}-line-height: var(--res-gap-h#{$i}-line-height);
  }
}

#{$preview} .cm-line.HyperMD-header {
  padding-top: 0;
}

@for $i from 1 through 6 {
  // #{$preview} .cm-line.HyperMD-header.HyperMD-header-#{$i},
  #{$reading} h#{$i} {
    margin-top: var(--res-gap-h#{$i}-margin-top) !important;
    margin-bottom: var(--res-gap-h#{$i}-margin-bottom);
  }

  #{$reading} div:has(> :is(#{get-heading-range($i)})) + div > h#{$i} {
    margin-block-start: 0 !important;
  }
}
