@use "../../../01. abstracts/variables" as *;

body {
  --font-text:
    var(--font-text-theme), var(--font-text-override), var(--font-default);
  --font-text-theme: var(--res-font-theme-west), var(--res-font-theme-zh);
  --font-monospace-theme: var(--res-font-mono-west), var(--res-font-mono-zh);
  --line-height-normal: var(--res-gap-p-line-height);
  --p-spacing: var(--res-gap-p-spacing);
}

#{$reading} {
  div:is(.el-h1, .el-h2, .el-h3, .el-h4, .el-h5, .el-h6)
    + div
    > :is(blockquote, p, ol, ul, pre) {
    margin-top: 0;
  }
}
