@use "../../../01. abstracts/variables" as *;

body {
  --mkk-font-stack-theme: var(--res-font-theme-west), var(--res-font-theme-zh);
  --mkk-font-stack-mono: var(--res-font-mono-west), var(--res-font-mono-zh);

  --file-line-width: calc(var(--font-text-size) * 35);
  --font-text-theme: var(--mkk-font-stack-theme);
  --font-monospace-theme: var(--mkk-font-stack-mono);
  --line-height-normal: var(--res-gap-p-line-height);
  --p-spacing: var(--res-gap-p-spacing);
}

#{$reading} {
  div:is(.el-h1, .el-h2, .el-h3, .el-h4, .el-h5, .el-h6)
    + div
    > :is(blockquote, p, ol, ul, pre) {
    margin-top: 0;
  }
}
body.font-stack-override-theme {
  --mkk-font-stack-theme: var(
    --u-font-stack-theme,
    var(--res-font-theme-west),
    var(--res-font-theme-zh)
  );
}

body.font-stack-override-mono {
  --mkk-font-stack-mono: var(
    --u-font-stack-mono,
    var(--res-font-mono-west),
    var(--res-font-mono-zh)
  );
}
body:not(.cancel-font-override) {
  --font-text:
    var(--font-text-theme), var(--font-text-override), var(--font-default);
  --font-monospace:
    var(--font-monospace-override), var(--font-monospace-theme),
    var(--font-monospace-default);
}
