@use "../../../01. abstracts/variables" as *;
/* Table Styles for Obsidian */
table {
  --table-text-size: calc(var(--font-text-size) * 0.9);
  --table-header-border-color: var(--res-tx-sup);
  --table-header-border-width: 0px;
  --table-header-font: var(--res-font-th-west), var(--res-font-th-zh);
  --table-header-weight: var(--res-font-th-weight);
  --table-header-background: rgba(var(--res-ax0-rgb), 0.35);
  --table-header-background-hover: var(--table-header-background);

  // --table-row-background: var(--res-bg0);
  --table-row-alt-background: var(--res-bg2);
  --table-row-background-hover: var(--res-bg4);
  --table-row-alt-background-hover: var(--res-bg4);

  --table-column-first-border-width: 0px;
  --table-column-last-border-width: 0px;
  --table-row-first-border-width: 0px;
  --table-row-last-border-width: var(--mkk-line-width);
  --table-border-width: var(--mkk-line-width);
  --table-border-color: var(--res-tx-sup);
}

.cm-html-embed th,
.markdown-rendered th {
  border-bottom-width: calc(var(--mkk-line-width) + 1px);
  border-bottom-color: var(--res-tx-accent) !important;
}

tbody tr:hover {
  transform: translateX(5px);
}

/* For reading view */
#{$reading} :is(td, th) {
  border-inline: 0px;
}

/* specify for mode */
.style-great-hall {
  .cm-html-embed td,
  .markdown-rendered td {
    border-block-style: dashed;
  }
}
