@use '../abstracts/maps' as *;
@use 'sass:string';
@use 'sass:map';

/* =========================================================
  Style Settings 注入的静态变量
========================================================= */
:root {
  /* 用户自定义字体 */
  --u-font-text-theme: initial;
  --u-cn-hei: "";
  --u-cn-song: "";
  --u-cn-kai: "";
  --u-cn-fang: "";
  --u-west-serif: "";
  --u-west-sans: "";
}

body {
  /* =========================================================
      字体栈 (用户自定义 > 系统栈 > 兜底)
    ========================================================= */
  --stack-hei: var(--u-cn-hei), "SystemHei", sans-serif;
  --stack-song: var(--u-cn-song), "SystemSong", serif;
  // 楷体没字时回退到黑体比宋体好
  --stack-kai: var(--u-cn-kai), "SystemKai", "SystemHei", sans-serif;
  --stack-fang: var(--u-cn-fang), "SystemFang", "SystemSong", serif;

  // 西文字体栈
  --stack-serif: var(--u-west-serif), "SystemSerif";
  --stack-sans: var(--u-west-sans), "SystemSans";
  --stack-hand: "SystemHand", "SystemSans";
  --stack-serif-i: "SystemSerifItalic", "SystemHand";
  --stack-sans-i: "SystemSansItalic", "SystemHand";

  // 生成resolution变量
  @each $group, $def in $token-structure {
    $elements: map.get($def, elements);
    $schema: map.get($def, schema);

    @each $element in $elements {
      @each $key, $default in $schema {
        --res-#{$group}-#{$element}-#{$key}: var(
          --u-#{$group}-#{$element}-#{$key},
          var(--preset-#{$group}-#{$element}-#{$key}, #{meta.inspect($default)})
        );
      }
    }
  }

  @each $key, $val in map.get($color-schemes, "monkey") {
    --res-#{$key}: var(--preset-#{$key}, "");
  }

  // obsidian自带变量应用
  // 通用变量
  --font-text-theme: var(--res-font-theme-west), var(--res-font-theme-cn);
  --font-monospace-theme: var(--res-font-mono-west), var(--res-font-mono-cn);

  // 圆角
  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 24px;
  --radius-xl: 32px;

  // colors
  --background-primary: var(--res-bg0);
  // --text-normal: var(--res-text0);
}
