@use '../abstracts/maps' as *;
@use 'sass:string';
@use 'sass:map';

/* =========================================================
  Style Settings 注入的静态变量
========================================================= */
:root {
  /* 用户自定义字体 */
  --u-font-text-theme: initial;
  --u-cn-hei: "";
  --u-cn-song: "";
  --u-cn-kai: "";
  --u-cn-fang: "";
  --u-west-serif: "";
  --u-west-sans: "";
}

body {
  // obsidian自带变量
  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 24px;
  --radius-xl: 32px;


  /* =========================================================
      字体栈 (用户自定义 > 系统栈 > 兜底)
    ========================================================= */
  --stack-hei: var(--u-cn-hei), "SystemHei", sans-serif;
  --stack-song: var(--u-cn-song), "SystemSong", serif;
  // 楷体没字时回退到黑体比宋体好
  --stack-kai: var(--u-cn-kai), "SystemKai", "SystemHei", sans-serif;
  --stack-fang: var(--u-cn-fang), "SystemFang", "SystemSong", serif;

  // 西文字体栈
  --stack-serif: var(--u-west-serif), "SystemSerif";
  --stack-sans: var(--u-west-sans), "SystemSans";
  --stack-hand: "SystemHand", "SystemSans";
  --stack-serif-italic: "SystemSerifItalic", "SystemHand";
  --stack-sans-italic: "SystemSansItalic", "SystemHand";

  // 生成resolution变量
  @each $key, $val in map.get($visual-forms, "heaven") {

    // 字体
    @if string.index($key, "font-") {
      // 如果用户未设置，preset也没设置，就回退为空。
      --res-#{$key}:var(--u-#{$key}, var(--preset-#{$key}, ""));
    }
  }

  // obsidian自带变量应用
  // 通用变量
  --font-text-theme: var(--res-font-text-theme);
  --font-monospace-theme: var(--res-font-monospace-theme);

  // 标题块变量
  @for $i from 1 through 6 {
    --h#{$i}-font: var(--res-font-headings-west), var(--res-font-headings-cn);
  }

  // 引用块变量


  // 行内块变量

}